
/*Admin*/
.kauth_btn {
    margin: 0 20px;
}

/*Django Crispy Forms*/
.asteriskField {
    display: none;
}

/*Django Simple Captcha*/
.invalid-feedback{
    display: block;
}

.captchaanswerinput {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
