{% extends "base/base.html" %}

{% block title %}
    Изменение email
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <h5 class="my-4">Изменение электронного адреса пользователя {{ user }}</h5>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Изменить email">
        <a class="btn btn-secondary kauth_btn" href="{% url 'kauth:profile' %}">Вернуться</a>
    </form>
{% endblock content %}