{% extends "base/base.html" %}

{% block title %}
    Сброс пароля
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        <h5 class="my-4">Введите новый пароль:</h5>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Сохранить">
        </form>
        
    {% else %}
        <h5>Данная ссылка недействительна</h5>
    {% endif %}
{% endblock content %}